.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: var(--ein-horizontal-spacing);
  margin-bottom: var(--ein-horizontal-spacing);
}

.intro {
  max-width: 600px;
}

