// Global styles
:global(.calendar-page) {
    height: 100vh;
    overflow: hidden;
}

// Main container
.calendarContainer {
    height: 100%;
}

.calendarContent {
    height: 100%;
    width: 100%;
}

// Header section
.calendarHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: var(--ds-size-4);
}

.calendarBody {
    background-color: var(--ds-color-neutral-background-tinted);
    margin-bottom: 5px;
    padding: var(--ds-size-4);
    height: calc(100vh - 350px); // TODO: Adjust based on header height

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: var(--ds-size-2)
}

.displayHeading {
    width: 100%;

}

// Navigation elements
.datePicker {
    display: flex;

}

.calendarButton {
    padding: var(--ds-size-1);
}

.calendarIcon {
    height: 100%;
    width: 100%;
}

.arrowIcon {
    height: 70%;
    width: 70%;
}

.dateLabel {
    display: flex;
    gap: calc(var(--ein-horizontal-spacing));
    padding: 0 var(--ds-size-3);
    background: var(--ds-color-neutral-surface-default);
    border-style: solid;
    border-color: var(--ds-color-neutral-border-default);
    border-width: round(up, var(--ds-border-width-default), 1px);
    border-radius: var(--ds-border-radius-md);
    align-items: center;

    span {
        flex-grow: 1;
    }
}

.dateInput {
    flex-grow: 0;

    // Remove default styles
    border: none;
    background: transparent;
    color: var(--ds-color-neutral-text-subtle);
    font-size: var(--ds-body-sm-font-size);
    height: 40.5px;

    // Remove default focus styles
    &:focus,
    &:focus-visible {
        box-shadow: none;
        outline: none;
    }
}

// Dropdown elements
.checkbox {
    padding: var(--ds-size-2) var(--ds-size-4);
}

// Table container
.tableContainer {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

// Table styles
.meetingTable {
    width: 100%;
    border-collapse: collapse;
    flex-grow: 1;
    overflow: auto;
    table-layout: fixed;
}

.head {
    position: sticky;
    top: 68px; //TODO: Make dynamic based on header height (mobile view)
    z-index: 7;
}

.headerRow :global(th) {
    padding: 12px;
    font-weight: 600;
    background-color: var(--ds-color-neutral-background-tinted);
    color: var(--ds-color-neutral-text-subtle);
    border-bottom: 2px solid #F45F63;
}

.body {
    flex-grow: 1;
}

.body :global(tr) {
    position: relative;
}

// Table rows and cells
.row {}

.row :global(td) {
    border: 1px solid var(--ds-color-neutral-border-subtle);
    padding: 8px;
    vertical-align: top;
    position: relative;
    height: 300px;

}

.weekrow :global(td),
.dayrow :global(td) {
    min-height: 70vh;
    height: 70vh;
}

// Calendar-specific styles

.otherMonth {
    background-color: var(--ds-color-neutral-background-tinted);
    color: var(--ds-color-neutral-text-subtle);
}

.cellHeader {
    display: flex;
    justify-content: space-between;
    padding: var(--ds-size-2);
}

.dateNumber {
    font-weight: bold;
    color: var(--ds-color-neutral-text-default);
}

.moeteCount {
    font-size: var(--ds-font-size-small);
    color: var(--ds-color-neutral-text-subtle);
}

//Dynamic view styles
.dynamicCalendarWrapper {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dynamicCalendarWrapper::-webkit-scrollbar {
    display: none;
}

.calendarGrid {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.dynCalendarHeader {
    display: grid;
    width: 100%;
    gap: 0.25rem;
}

/* Week rows */
.weekRow {
    display: grid;
    width: 100%;
    gap: 0.25rem;
    flex: 1;
    min-height: 250px;
}

/* Show 7 columns if weekends are enabled */
.withWeekends .weekRow,
.withWeekends .dynCalendarHeader {
    grid-template-columns: repeat(7, 1fr);
}

/* Show 5 columns if weekends disabled */
.noWeekends .weekRow,
.noWeekends .dynCalendarHeader {
    grid-template-columns: repeat(5, 1fr);
}

.dayHeaderCell {
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
    background-color: var(--ds-color-neutral-background-tinted);
    border-radius: 4px;
}

.dayHeaderText {
    font-size: 0.875rem;
    color: var(--ds-color-neutral-text-subtle);
}


.dayHeaderCell {
    padding: 0.5rem;
    text-align: center;
    font-weight: 600;
    background-color: var(--ds-color-neutral-background-tinted);
    border-radius: 4px;
}

.dayHeaderText {
    font-size: 0.875rem;
    color: var(--ds-color-neutral-text-subtle);
}

/* Calendar day cell */
.dayCell {
    // aspect-ratio: 1 / 1; // ensures square cells
    border-radius: 4px;
    background: var(--color-surface);
    padding: 0.25rem;
    overflow-y: hidden;
    display: flex;
    min-height: 0;
    aspect-ratio: 100% / min(50% * width);
    flex-direction: column;
}

.dateText {
    font-size: 0.75rem;
    opacity: 0.8;
}


// Meeting component styles
.moetemappemodule {
    background-color: var(--ds-color-neutral-surface-default);
    margin-bottom: 5px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    box-shadow: 1px 1px 5px 1px #002C541A;
    width: 100%;

    font-size: var(--ds-body-sm-font-size); //TODO: Fix font size
}

.moduleHeading,
.moduleInfo {
    overflow-x: hidden;
    overflow-y: hidden;

    padding-left: 12px;
    padding-right: 12px;
}

.moduleHeading {
    color: var(--ds-color-neutral-text-default)
}

.moduleInfo {
    color: var(--ds-color-neutral-text-subtle);
}

.parentNameLabel {}