.meetingTable {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
    flex-grow: 1;
}

.head {
    position: sticky;
    top: 0;
    z-index: 7;
}

.headerRow :global(th) {
    padding: 12px;
    font-weight: 600;
}

.body {
    flex-grow: 1;
}

.body :global(tr) {
    position: relative;
}

.row {
    border-bottom: 1px solid var(--ds-color-neutral-border-default);
}

.row :global(td) {
    border-right: 1px solid var(--ds-color-neutral-border-default);
    padding: 8px;
    vertical-align: top;
    position: relative;

    &:last-child {
        border-right: none;
    }

    &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

:global(.calendar-page) {
    height: 100vh;
    overflow: hidden;
}

.otherMonth {
    background-color: var(--ds-color-neutral-background-tinted);
    color: var(--ds-color-neutral-text-subtle);
}