// Global styles
:global(.calendar-page) {
    height: 100vh;
    overflow: hidden;
}

.calendarContent {
    height: 100%;
    width: 100%;
}

// Header section
.calendarHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.displayHeading {
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: var(--ds-size-2);
}

// Navigation elements
.datePicker {
    display: flex;
}

.calendarButton {
    padding: var(--ds-size-1);
}

.calendarIcon {
    height: 100%;
    width: 100%;
}

.arrowIcon {
    height: 70%;
    width: 70%;
}

.dateLabel {
    display: flex;
    gap: calc(var(--ein-horizontal-spacing));
    padding: 0 var(--ds-size-3);
    background: var(--ds-color-neutral-surface-default);
    border-style: solid;
    border-color: var(--ds-color-neutral-border-default);
    border-width: round(up, var(--ds-border-width-default), 1px);
    border-radius: var(--ds-border-radius-md);
    align-items: center;

    span {
        flex-grow: 1;
    }
}

.dateInput {
    flex-grow: 0;
    border: none;
    background: transparent;
    color: var(--ds-color-neutral-text-subtle);
    font-size: var(--ds-body-sm-font-size);
    height: 40.5px;

    // Remove default focus styles
    &:focus,
    &:focus-visible {
        box-shadow: none;
        outline: none;
    }
}

// Dropdown elements
.checkbox {
    padding: var(--ds-size-2) var(--ds-size-4);
}

// Calendar body
.calendarBody {
    background-color: var(--ds-color-neutral-background-tinted);
    padding: var(--ds-size-4);
    // height: calc(100vh - 340px); // TODO: Adjust based on header height and calendar height. 
    border-radius: 10px;
}

.calendarGrid {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.dynCalendarHeader {
    position: sticky;
    top: 0;
    z-index: 9;
    display: grid;
    width: 100%;
    gap: 0.25rem;
}

.weekRow {
    display: grid;
    width: 100%;
    gap: 0.25rem;
    flex: 1;
    min-height: 300px;
}

/* Week rows */
.withWeekends .weekRow,
.withWeekends .dynCalendarHeader {
    grid-template-columns: repeat(7, 1fr);
}

.noWeekends .weekRow,
.noWeekends .dynCalendarHeader {
    grid-template-columns: repeat(5, 1fr);
}

.dayHeaderCell {
    text-align: center;
    font-weight: 600;
    background-color: var(--ds-color-neutral-background-tinted);
    border-radius: 4px;
}

.dayHeaderText {
    font-size: 0.875rem;
    color: var(--ds-color-neutral-text-subtle);
}

.dayCell {
    border-radius: 4px;
    background: var(--color-surface);
    padding: 0.25rem;
    overflow-y: hidden;
    display: flex;
    min-height: 0;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
}

.dateText {
    font-size: 0.75rem;
    opacity: 0.8;
}

.dynamicCalendarWrapper {
    width: 100%;
    max-height: 100%;
    height: calc(100vh - 340px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    overflow-anchor: auto;

    // -ms-overflow-style: none;
    // scrollbar-width: none;
}

// .dynamicCalendarWrapper::-webkit-scrollbar {
//     display: none;
// }

// Meeting component styles
.moetemappemodule {
    background-color: var(--ds-color-neutral-surface-default);
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #002C541A;
    width: 100%;
    font-size: var(--ds-body-sm-font-size);
}

.moduleHeading,
.moduleInfo {
    overflow-x: hidden;
    overflow-y: hidden;

    padding-left: 12px;
    padding-right: 12px;
}

.moduleHeading {
    color: var(--ds-color-neutral-text-default)
}

.moduleInfo {
    color: var(--ds-color-neutral-text-subtle);
}