@use '../../styles/mediaQueries.scss' as mq;

.search-form.container-wrapper {
  > .container-pre,
  > .container-post {
    display: flex;
    align-items: center;
  }

  form {
    width: 100%;
  }
}

.search-result-tabs {
  padding-top: var(--ds-size-4);

  > .container-wrapper {
    > .container {
      position: relative;
      left: calc(-1 * var(--ds-size-4));
    }
  }

  .search-result-tab {
    display: inline-block;
    padding: var(--ds-size-4) var(--ds-size-4) var(--ds-size-3);
    margin: 0 var(--ds-size-2);
    color: var(--ds-color-neutral-text-subtle);
    text-decoration: none;

    &.active {
      color: var(--ds-color-neutral-text-default);
      border-bottom: 2px solid var(--ds-color-neutral-border-strong);
    }

    &:hover {
      color: var(--ds-color-neutral-text-default);
    }
  }
}

.search-results {
  width: 100%;

  @include mq.small-and-medium {
    > .container-pre {
      display: none;
    }
  }
}
