.loginModalHeader {
  //padding: px(24) px(40) px(40) px(40);

  > h1 {
    font-weight: 500;
    color: var(--fds-semantic-text-neutral-default);
    margin: 0;
  }
}

.loginModalBody {
  //width: px(470);
  //max-width: px(470);
}

.loginModalBodyMobile {
  //padding: 0 px(16);
}
