@use "../../../styles/mediaQueries.scss" as mq;
@use "../../../styles/variables" as v;

.journalpostList {
  padding-top: var(--ein-horizontal-spacing);
  overflow-x: scroll;

  max-width: calc(v.$maxWidthDesktop - 400px - var(--ein-vertical-spacing) * 2);

  @include mq.small-and-medium {
    max-width: calc(v.$mediumScreenMax - 400px - var(--ein-vertical-spacing) * 2);
  }
}