.searchResults {
  padding-top: var(--ds-size-4);
}

.searchResult {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: var(--ds-size-13);

  > a {
    display: block;
    width: 100%;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }

  h2 {
    width: 100%;
    color: var(--ds-color-text-subtle);

    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.searchResultBody {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  padding-top: var(--ds-size-3);
}

.searchResultDot {
  display: inline-block;
  flex: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
}

.searchResultDotSaksmappe {
  background: var(--ds-color-support-color-3-base-primary);
}

.searchResultDotJournalpost {
  background: var(--ds-color-support-color-4-base-primary);
}

.searchResultDotMoetemappe {
  background: var(--ds-color-brand2-base-primary);
}

.searchResultDotMoetesak {
  background: var(--ds-color-support-color-5-base-primary);
}

.searchResultSubheader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ds-size-3);

  color: var(--ds-color-text-default);
  font-family: var(--ds-font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.024px;

  .searchResultDot {
    margin-right: -5px;
  }

  .searchResultType {
    letter-spacing: 0.04em;
  }

  .searchResultNumber {
    letter-spacing: 1.12px;
    text-decoration: none;

    a {
      text-decoration: none;
      color: var(--ds-color-text-default);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .searchResultMeta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--ds-size-2) var(--ds-size-5);
  }
}

.searchResultEnhet {
  display: flex;
  align-items: flex-end;
  gap: var(--ds-size-1);
  color: var(--ds-color-text-default);
  font-family: var(--ds-font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.024px;

  svg {
    width: 19.5px;
    height: 19.5px;
  }
}

.searchResultCorrespondence {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ds-size-1);
  color: var(--ds-color-text-default);

  .correspondenceIcon {
    width: 19.5px;
    height: 19.5px;
    flex-shrink: 0;
  }

  .correspondenceEnhet {
    white-space: nowrap;
  }

  .correspondenceTo {
    display: inline-flex;
    align-items: center;
    gap: var(--ds-size-1);
    flex-wrap: wrap;
  }

  .correspondenceLabel {
    white-space: nowrap;
  }
}

.searchResultAction {
  white-space: normal;
  cursor: pointer;
  text-underline-offset: 0.27em;
  display: inline-flex;
  align-items: center;
  gap: var(--ds-size-1);
  width: fit-content;
  text-decoration: none;
  color: var(--ds-color-text-subtle);
  padding-top: var(--ds-size-2);

  &:hover {
    text-decoration: underline;
    color: var(--ds-color-neutral-text-default);
  }
}
