.panel {
  flex-shrink: 0;
  min-width: 300px;
  max-width: 507px;
  padding-left: var(--ds-size-8);
  padding-right: var(--ds-size-8);
  margin-left: var(--ds-size-2);
  border-left: 1px solid var(--ds-color-neutral-border-subtle);
  text-align: left;
}

.details {
  width: 100%;
  border-top: none;
  margin-bottom: var(--ds-size-2);

  > :global(summary),
  > :global(details) {
    padding-left: 0;
  }

  > :global(summary)::before {
    order: 1;
  }
}

.detailsHeading {
  display: flex;
  align-items: end;
  gap: var(--ds-size-2);
  color: var(--ds-color-neutral-text-default);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.032px;

  svg {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    color: var(--ds-color-neutral-text-subtle);
  }
}

.heading {
  display: flex;
  align-items: end;
  gap: var(--ds-size-2);
  margin-top: var(--ds-size-8);
  color: var(--ds-color-neutral-text-default);
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.032px;
  padding-bottom: var(--ds-size-6);

  svg {
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    color: var(--ds-color-neutral-text-subtle);
  }
}

.enhetCard {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--ds-size-8);
}

.enhetName {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04px;
  padding-bottom: var(--ds-size-2);
}

.enhetDetail {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.04px;
  padding-bottom: var(--ds-size-1);
}

.label {
  color: var(--ds-color-neutral-text-default);
  font-size: var(--ds-font-size-2);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.035px;
}

.link {
  color: var(--ds-color-neutral-text-default);
}
