// Global styles
:global(.calendar-page) {
    height: 100vh;
    overflow: hidden;
}

// Main container
.calendarContainer {
    // height: 85vh; //Fixed size
}

// Header section
.calendarHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: var(--ds-size-2)
}

.displayHeading {
    width: 100%;
}

// Navigation elements
.datePicker {
    display: flex;

}

.calendarButton {
    padding: var(--ds-size-1);
}

.calendarIcon {
    height: 100%;
    width: 100%;
}

.arrowIcon {
    height: 70%;
    width: 70%;
}

.dateLabel {
    display: flex;
    gap: calc(var(--ein-horizontal-spacing));
    padding: 0 var(--ds-size-3);
    background: var(--ds-color-neutral-surface-default);
    border-style: solid;
    border-color: var(--ds-color-neutral-border-default);
    border-width: round(up, var(--ds-border-width-default), 1px);
    border-radius: var(--ds-border-radius-md);
    align-items: center;

    span {
        flex-grow: 1;
    }
}

.dateInput {
    flex-grow: 0;

    // Remove default styles
    border: none;
    background: transparent;
    color: var(--ds-color-neutral-text-subtle);
    font-size: var(--ds-body-sm-font-size);
    height: 40.5px;

    // Remove default focus styles
    &:focus,
    &:focus-visible {
        box-shadow: none;
        outline: none;
    }
}

// Dropdown elements
.checkbox {
    padding: var(--ds-size-2) var(--ds-size-4);
}

// Table container
.tableContainer {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

// Table styles
.meetingTable {
    width: 100%;
    border-collapse: collapse;
    flex-grow: 1;
    overflow: auto;
    table-layout: fixed;
}

.head {
    position: sticky;
    top: 0;
    z-index: 7;
}

.headerRow :global(th) {
    padding: 12px;
    font-weight: 600;
}

.body {
    flex-grow: 1;
}

.body :global(tr) {
    position: relative;
}

// Table rows and cells
.row {
    border-bottom: 1px solid var(--ds-color-neutral-border-default);
}

.row :global(td) {
    border-right: 1px solid var(--ds-color-neutral-border-default);
    padding: 8px;
    vertical-align: top;
    position: relative;
    height: 300px;

    &:last-child {
        border-right: none;
    }

    &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.weekrow :global(td),
.dayrow :global(td) {
    min-height: 70vh;
    height: 70vh;
}

// Calendar-specific styles

.otherMonth {
    background-color: var(--ds-color-neutral-background-tinted);
    color: var(--ds-color-neutral-text-subtle);
}

.cellHeader {
    display: flex;
    justify-content: space-between;
}

.dateNumber {
    font-weight: bold;
    color: var(--ds-color-neutral-text-default);
}

.moeteCount {
    font-size: var(--ds-font-size-small);
    color: var(--ds-color-neutral-text-subtle);
}

// Meeting component styles
.moetemappemodule {
    background-color: var(--ds-color-neutral-surface-tinted);
    margin-bottom: 5px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.moduleHeading,
.moduleInfo {
    overflow-x: hidden;
    overflow-y: hidden;

    padding-left: 12px;
    padding-right: 12px;
}

.moduleHeading {
    color: var(--ds-color-neutral-text-default)
}

.moduleInfo {
    color: var(--ds-color-neutral-text-subtle);
}

.parentNameLabel {}