.calendarHeader {
    position: relative;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: var(--ds-size-2)
}

.arrowIcon {
    height: 70%;
    width: 70%;
}

.displayHeading {
    width: 100%;
}

.datePicker {
    display: flex;
}

.calendarButton {
    padding: var(--ds-size-1);
}

.calendarIcon {
    height: 100%;
    width: 100%;
}

.checkbox {
    padding: var(--ds-size-2) var(--ds-size-4);
}