@use 'fonts.inter.scss';
@use './mediaQueries.scss' as mq;
@use './table.scss';
@use './headerDropdown.scss';
@use './headerTabs.scss';

:root {
  --ein-vertical-spacing: var(--ds-size-8);
  --ein-horizontal-spacing: var(--ds-size-8);
  --ein-half-vertical-spacing: calc(var(--ein-vertical-spacing) / 2);
  --ein-half-horizontal-spacing: calc(var(--ein-horizontal-spacing) / 2);
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

body {
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
}

.einnsyn-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-flex-grow {
  flex: 1;
}

header {
  padding-top: var(--ein-horizontal-spacing);

  @include mq.small-and-medium {
    padding-top: var(--ds-size-4);
  }
}


.container-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding-left: var(--ein-vertical-spacing);
  padding-right: var(--ein-vertical-spacing);
  width: 100%;
  max-width: 100%;

  &.main-content {
    padding-top: var(--ein-horizontal-spacing);
    border-top: 1px solid var(--ds-color-neutral-border-subtle);
  }

  >.container-pre {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  >.container {
    flex-grow: 0;
    flex-shrink: 1;
    width: 1400px;
    min-width: 400px;
  }

  >.container-post {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  >.container-post {
    text-align: right;
  }

  @include mq.medium {
    >.container-pre.collapsible {
      width: 0;
      display: none;
    }
  }

  @include mq.small {
    flex-wrap: wrap;

    >.container-pre,
    >.container-post,
    >.container {
      padding-left: var(--ds-size-4);
      padding-right: var(--ds-size-4);
    }

    >.container-pre,
    >.container-post {
      width: 50%;
    }

    >.container {
      width: 100%;
    }

    >.container-pre {
      order: 1;
    }

    >.container-post {
      order: 2;

    }

    >.container {
      order: 3;
    }
  }

}

.text-container {
  max-width: 600px;
}