@use './mediaQueries.scss' as mq;
@use './headerRow.scss' as headerRow;

.header-tabs {
  position: relative;
  margin-left: calc(-1 * var(--ds-size-2));
  margin-right: calc(-1 * var(--ds-size-5));
  padding-top: var(--ds-size-4);
  display: flex;
  align-items: flex-start;
}

@include mq.small {
  .header-tabs {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    overflow-x: auto;
    overscroll-behavior-x: contain;
  }
}

.header-tab,
.header-tab.ein-link,
.header-tab.ein-button {
  @include headerRow.header-row-item;

  display: inline-block;
  padding-inline: var(--ds-size-4);
  margin: 0 var(--ds-size-2);
  color: var(--ds-color-neutral-text-subtle);
  text-decoration: none;
  white-space: nowrap;

  &.active {
    color: var(--ds-color-neutral-text-default);
    border-bottom: 3px solid var(--ds-color-neutral-text-default);
  }

  &:hover {
    color: var(--ds-color-neutral-text-default);
  }

  &:focus-visible {
    outline: var(--dsc-focus-outline);
    border-bottom-color: transparent;
    border-radius: var(--ds-border-radius-default);
    background-color: transparent;
    color: var(--ds-color-neutral-text-default);
  }
}
