.header-tabs {
  position: relative;
  margin-left: calc(-1 * var(--ds-size-5));
  margin-right: calc(-1 * var(--ds-size-5));
  padding-top: var(--ds-size-4);
  display: flex;
  align-items: flex-end;
}

.header-tab,
.header-tab.ein-link,
.header-tab.ein-button,
.header-dropdown > button {
  display: inline-block;
  padding: var(--ds-size-4) var(--ds-size-4) var(--ds-size-3);
  margin: 0 var(--ds-size-2);
  color: var(--ds-color-neutral-text-subtle);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  line-height: var(--ds-line-height-sm);
  white-space: nowrap;

  &.active {
    color: var(--ds-color-neutral-text-default);
    border-bottom: 3px solid var(--ds-color-neutral-text-default);
  }

  &:hover {
    color: var(--ds-color-neutral-text-default);
  }

  &:focus-visible {
    outline: var(--dsc-focus-outline);
    border-bottom-color: transparent;
    border-radius: var(--ds-border-radius-default);
    background-color: transparent;
    color: var(--ds-color-neutral-text-default);
  }
}
