.user-menu {
  display: inline-block;
  text-align: left;

  :global(.ein-popup) {
    padding: 0;
  }
}

.user-menu-content {
  width: 300px;
}

.user-menu-content-section {
  padding: var(--ein-horizontal-spacing) var(--ein-vertical-spacing);
  border-bottom: var(--ds-border-width-default) solid var(--ds-color-border-subtle);
  &:last-child {
    border-bottom: none;
  }
}

.profile-button {
  border-radius: var(--ds-border-radius-full);
  padding: var(--ds-size-2);
}
