.tabsContainer {
  position: relative;
  display: flex;
}

.searchTabs,
.searchFilter,
.otherTabs {
  display: flex;
  align-items: center;
}

.otherTabs {
  width: 100%;
  margin-right: calc(-1 * var(--ds-size-1)); // Visually align with search field
  justify-content: flex-end;
}

.searchFilter {
  width: 100%;
  margin-right: calc(-1 * var(--ds-size-1)); // Visually align with search field
  justify-content: flex-end;
}