.modal :global(.ein-modal-body) {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--ein-horizontal-spacing) var(--ein-vertical-spacing);
}

.confirmButtons {
  display: flex;
  gap: var(--ein-horizontal-spacing);
  padding-top: calc(var(--ein-horizontal-spacing)/2);
  
  :global(.ein-button) {
    flex: 1;
  }
}
