.search-result {
  padding: 0 0 var(--ein-horizontal-spacing) 0;
  width: 100%;

  >a {
    display: inline-block;
    max-width: 100%;
  }

  h2 {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }

  .journalpost-enhet {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
      font-size: 1.5rem;
    }
  }
}

.search-result-subheader {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .search-result-icon {
    display: flex;
    align-items: center;
    line-height: 1;
  }
}