@use '../../styles/mediaQueries.scss' as mq;

header .container-wrapper {
  > .container-pre,
  > .container-post {
    display: flex;
    align-items: center;
  }

  form {
    width: 100%;
  }
}



.search-results {
  width: 100%;

  @include mq.small-and-medium {
    > .container-pre {
      display: none;
    }
  }
}
