.enhetSelector {
  padding-top: var(--ds-size-2);
  padding-bottom: var(--ds-size-2);

  button {
    color: var(--ds-color-text-default) !important;
    text-decoration: none !important;
  }
}

.enhetSelectorDialog {
  max-height: 300px;
  overflow: scroll;
  top: 0;
  right: 0;
  left: 0;
}
