.saveSearchTrigger {
  display: inline-flex;
  align-items: center;
  gap: var(--ds-size-2);
}

.saveSearchIcon {
  color: var(--ds-color-text-default);
}

.saveSearchDropdown {
  :global(.ein-popup-content) {
    min-width: 300px;
  }
}

.saveSearchForm {
  display: flex;
  flex-direction: column;
  gap: var(--ein-half-vertical-spacing);
  padding: var(--ein-half-vertical-spacing) var(--ein-half-horizontal-spacing);

  :global(.ein-button[type='submit']:hover) {
    background-color: var(--ds-color-accent-base-hover);
  }
}

.saveSearchCheckbox {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);

  :global(ds-field) {
    flex: 0 0 auto;
  }
}

.saveSearchCheckboxLabel {
  cursor: pointer;
  font-size: var(--ds-font-size-md);
  line-height: var(--ds-line-height-md);
}

.saveSearchLoginPrompt {
  display: flex;
  flex-direction: column;
  gap: var(--ein-half-vertical-spacing);
  padding: var(--ein-half-vertical-spacing) var(--ein-half-horizontal-spacing);
}
