@use '../../../styles/mediaQueries.scss' as mq;

.searchForm {
  margin-inline: calc(-1 * var(--ds-size-4));
}

@include mq.medium {
  .searchForm {
    margin-inline: calc(-1 * var(--ds-size-2));
  }
}

@include mq.small {
  .searchForm {
    margin-inline: 0;
  }
}
