@use '../../styles/effects.scss' as fx;

.enhetSelector {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.searchIcon {
  width: 100%;
  height: 100%;
}

.enhetSelectorDropdown {
  margin-top: var(--ds-size-3);
  display: flex;
  flex-direction: row;
  gap: var(--ds-size-4);
  width: 100%;
  overflow: hidden;
}

.enhetSelectorDropdownListContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.enhetSelectorDropdownList {
  flex: 1;
  padding: 0 var(--ds-size-2) 0 0;
  margin: 0;
  border-radius: var(--ds-border-radius-md);

  .selectorListItem {
    position: relative;
    margin: 0;
    border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
    cursor: pointer;
    list-style-type: none;

    &:first-child,
    &:last-child {
      border-bottom: none;
    }

    .selectorListText,
    .addRemoveIcon {
      display: block;
    }

    .selectorListText {
      flex: 1;
    }

    .addRemoveIcon {
      display: flex;
      align-items: center;
      svg {
        transition: opacity 0.2s fx.$easeOut;
      }
    }


    .ancestors {
      font-size: .9rem;
      display: block;
      color: var(--ds-color-neutral-text-subtle);
    }
  }
}

.selectorListItem {
  display: flex;
  align-items: center;
  padding: var(--ds-size-4) var(--ds-size-2);

  &.selectedListItem {
    color: var(--ds-color-neutral-text-subtle);
    .addRemoveIcon svg {
      //transform: rotate(45deg);
      opacity: 0;
    }
  }

  &:hover,
  &.focusedListItem,
  &.active {
    border-radius: var(--ds-border-radius-md);
    background-color: var(--ds-color-accent-surface-hover);
  }
}
