.enhetSelector {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-top: var(--ds-size-2);
  padding-bottom: var(--ds-size-2);

  button {
    color: var(--ds-color-text-default) !important;
    text-decoration: none !important;
  }
}

.enhetSelectorDropdown {
  margin-top: var(--ds-size-3);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.enhetSelectorDropdownList {
  width: 50%;
}
