@use '../../styles/easing.scss' as e;

// An anchor div to set the height of the search field correctly, while
// allowing the inner containers to expand as needed.
.searchFieldAnchor {
  position: relative;
  z-index: 1;
  width: 100%;
  // Padding-top + Input line height + Padding-bottom
  height: calc(
    var(--ds-size-2) + var(--ds-border-width-default) + // Padding-top
    (var(--ds-body-md-line-height) * 1rem) + // Input line height
    var(--ds-size-2) + var(--ds-border-width-default) // Padding-bottom
  );
}

.searchFieldContainer {
  width: 100%;
  background: var(--ds-color-neutral-background-default);

  // "padding" for active/focus border
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    background: inherit;
    transition:
      inset 0.15s e.$easeOutQuart,
      border-color 0.15s e.$easeOutQuart;
    border: var(--ds-border-width-default) solid transparent;
  }

  &:has(.activeContainer) {
    position: absolute;
    z-index: 10;
    border-radius: var(--ds-border-radius-md);

    &::before {
      inset: calc(-1 * var(--ds-size-6));
      border-color: var(--ds-color-neutral-border-subtle);
    }
  }

  button {
    min-height: var(--ds-size-12);
  }
}

.searchField {
  position: relative;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
  border-top-left-radius: var(--ds-border-radius-default);
  border-bottom-left-radius: var(--ds-border-radius-default);
  border: var(--ds-border-width-default) solid var(--ds-color-neutral-border-subtle);
  border-right: none;
}

.dropdownContainer {
  max-height: 300px;
  overflow: auto;
  display: flex;
}

.searchInputIcon {
  position: absolute;
  top: var(--ds-size-2);
  left: var(--ds-size-3);
  width: var(--ds-size-6);
  height: var(--ds-size-6);
  color: var(--ds-color-neutral-text-subtle);
}

.searchInputWithIcon {
  flex: 0 0 auto;
  max-width: 300px;

  .styledInput,
  .input,
  .paddedContent {
    padding-left: calc(var(--ds-size-6) + var(--ds-size-3)); // icon size + gap
    padding-right: calc(var(--ds-size-4) + var(--ds-size-3)); // clear-button
  }
}

.searchInputContainer {
  --search-input-surface: var(--ds-color-neutral-surface-default, #fff);
  position: relative;
  min-width: calc(var(--ds-size-12) + var(--ds-size-6)); // Minimum width to fit icon
  transition: min-width 0.3s e.$easeOutQuart;  


  &.searchQueryContainer {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
    border: none;
  }

  .searchIconContainer {
    flex: 0 0 auto;
    width: var(--ds-size-7);
    height: var(--ds-size-7);
  }
}

.searchInputAndButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
  min-width: 0;
  width: 100%;
}

.enhetSelectorContainer.activeContainer {
  min-width: calc(100% - var(--ds-size-12)); // Leave space for the other field (query string / enhet)
}

.styledInputContainer {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;

  .input {
    color: transparent;
    background: transparent;
  }

  &:has(:focus) {
    .styledInput {
      white-space: pre-wrap;
    }
  }
}

.styledInput,
.input {
  border: none;
  background: transparent;
  color: var(--ds-color-neutral-text-default);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: normal;
  padding-top: var(--ds-size-2);
  padding-bottom: var(--ds-size-2);
  min-height: calc(var(--ds-size-12) - var(--ds-border-width-default) * 2); // Height -
}

.styledInput {
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
  position: relative;
  white-space: nowrap;
}

.searchFieldContainer :not(:has(:focus)) .styledInput::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--ds-size-8);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      var(--search-input-surface)
    );
    //border-right: var(--ds-size-6) solid var(--ds-color-neutral-surface-default, #fff);
    pointer-events: none;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  flex: 1 1 auto;
  width: 100%;
  color: transparent;
  caret-color: var(--ds-color-neutral-text-default);
  z-index: 2;
  overflow: hidden;
  resize: none;
  white-space: nowrap;
  border: none;
  margin: 0;

  &:focus,
  &:focus-visible {
    box-shadow: none;
    outline: none;
    white-space: pre-wrap;
  }
  
  &::selection,
  &::-moz-selection {
    background-color: var(--ds-color-surface-active);
    color: var(--ds-color-neutral-text-default);
  }
}

.searchToken {
  position: relative;
}

.prefixedToken {
  position: relative;
  border-radius: var(--ds-border-radius-sm);
  color: var(--ds-color-neutral-text-subtle);
  background: var(--ds-color-neutral-surface-tinted);
  outline: 1px solid var(--ds-color-neutral-surface-tinted);
}

.includeToken {
  background: var(--ds-color-success-surface-tinted);
  box-shadow: -1px 0 0 0 var(--ds-color-success-surface-tinted),
    1px 0 0 0 var(--ds-color-success-surface-tinted);
}

.excludeToken {
  background: var(--ds-color-danger-surface-tinted);
  box-shadow: -1px 0 0 0 var(--ds-color-danger-surface-tinted),
    1px 0 0 0 var(--ds-color-danger-surface-tinted);
}

.spacer {
  position: relative;
  width: var(--ds-border-width-default);
  height: calc(var(--ds-size-12) - var(--ds-border-width-default) * 2);
  &::after {
    content: "";
    display: block;
    width: var(--ds-border-width-default);
    height: 60%;
    background: var(--ds-color-neutral-border-subtle);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.clearButton {
  position: absolute;
  top: 0;
  right: var(--ds-size-2);
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ds-size-1);
  min-width: var(--ds-size-9);
  min-height: var(--ds-size-9);
  margin-right: calc(-1 * var(--ds-size-2)); // Negate padding
  scale: 0.75;
}

.clearIcon {
  height: 100%;
  width: 100%;
}

.actionButtonContainer {
  display: flex;
  flex-direction: row;
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.searchIconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;

  padding: 0;
  width: var(--ds-size-9);
  height: var(--ds-size-9);
}

.searchIcon {
  height: 100%;
  width: 100%;
}

.enhetSelector {
  flex-shrink: 0;
}
